@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.main-content {
  background-color: #222020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-out {
  color: #fff;
  font-family: "Grafik LCG", sans-serif;
  margin-bottom: 30px;
}

.download {
  padding: 20px;
  color: white;
  background-color: #2f1ce4;
  border: 3px solid;
  border-color: #2f1ce4;
  display: inline-block;
  margin: 10px;
}

.link-in {
  padding: 20px;
  color: #fff;
  background-color: transparent;
  border: 3px solid;
  border-color: white;
  display: inline-block;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link-back {
  margin-left: 10px;
  padding-left: 25px;
  background-image: url(../img/return-L.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.link-forward {
  position: relative;
  margin-left: 10px;
  padding-left: 985px;
  padding-right: 25px;
  background-image: url(../img/return-R.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

h1 {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

h2 {
  padding-left: 180px;
  margin-top: 100px;
  font-size: 36px;
  margin-bottom: 25px;
  color: #2f1ce4;
}

.list {
  padding-left: 200px;
  font-size: 18px;
}

li {
  padding-bottom: 20px;
}

p {
  padding-left: 180px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.8;
}

figure {
  padding-left: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

img {
  max-width: 400px;
}

.blue {
  color: blue;
}

span {
  color: #222020;
}

table {
  margin-top: 100px;
  border: 1px solid #a0a0a0;
  border-collapse: collapse;
}

td,
th {
  padding: 4px;
}

tr,
td,
th {
  border: 1px solid #a0a0a0;
}

thead {
  table-layout: fixed;
  text-align: center;
}

code {
  font-family: "Gilroy", sans-serif;
}

.modules {
  width: 1180px;
}

.logotip {
  padding-left: 7px;
  padding-bottom: 50px;
  font-size: 35px;
}

.unit {
  display: inline-block;
  width: 480px;
  min-height: 500px;
  order: 1px solid #000;
  margin-top: 50px;
  vertical-align: middle;
  position: relative;
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  box-shadow: 2px -1px 5px 5px #e8e8e8;
}

.left {
  margin-left: 80px;
}

.right {
  margin-left: 60px;
}

.fond {
  margin-top: 180px;
  background-color: #fff;
  min-height: 320px;
}

.foto1 {
  background-image: url(../img/modules/poto-1.jpg);
}

.foto2 {
  background-image: url(../img/modules/poto-2.jpg);
}

.foto3 {
  background-image: url(../img/modules/poto-3.jpg);
}

.foto4 {
  background-image: url(../img/modules/poto-4.jpg);
}

h3 {
  font-size: 35px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2f1ce4;
}

.hendout {
  padding-left: 50px;
  list-style: none;
}

.number {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 36px;
  opacity: .25;
}

/*.parent {
  width: 1170px; /* для примера */
/*  margin: 0 auto;*/
/*} */

.btn {
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 85px;
  padding-right: 85px;
  color: #2f1ce4;
  border: 3px solid #2f1ce4;
  border-radius: 2px;
  margin-bottom: 620px;
}

.center {
  text-align: center;
}

#wave {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/modules/wave.svg);
}
